@value main-bg-color: #5166D8;
@value secondary-bg-color: #5A7FFF;
@value button-color: #AFD9FF;


.top{
  background-color: main-bg-color;
  height:100vh;
  margin-bottom:-275px;
  display: flex;
  align-items: center;
  clip-path: polygon(0 0, 205% 0%, 110% 75.2%, 0% 100%);
  z-index: 3;
}

.openAppButton{
  width:250px;
  height:60px;
  font-size: 20px;
  background-color: button-color;
  border: none;
  color:main-bg-color;
  border-radius: 10px;
}

.openAppButton:hover{
  background-color: #9abcdc;
  color:white
}

.titleBox{
  margin-left: 150px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: flex-start;
  z-index: 6;
}
.titleBox h1{
  font-size: 120px;
  padding:0;
  line-height: 1px;
}

.hero{
  position: absolute;
  height:120%;
  top:0;
  right:0;
  z-index: 1

}

.middle{
  z-index: 10;
  height: 100vh;
  margin-bottom: -200px;
  display: flex;
  margin-left: -50px;
  align-items: center;
  justify-content: space-around;
  background-color: secondary-bg-color;
  /* border: black solid 2px; */
}

.middle div{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.middle p{
  width:75%;
}

.bottom{
  height: 130vh;
  display: flex;
  justify-items: center;
  flex-direction: column;
  background: url(/Vector.svg);
  background-repeat: none;
  background-size: cover;
}

.bottomText{
  margin-left: 150px;
  position: relative;
  top: 240px;
  z-index: 6;
}

.footer{
  height:100%;
  width: 100%;
  background: url(/footerWaves.svg) no-repeat;
  background-size: cover;
  background-position: right bottom;
}

.logos{
  width:10%;
}


.first, .second, .third, .fourth{
  position: absolute;
  width:10%;
}

.first{
  right:400px;
  bottom:120px;
}
.second{
  right:180px;
  top:100px;
}
.third{
  right:400px;
  top:200px;
}
.fourth{
  right:200px;
  top:320px;
}

.techStack{
  display: flex;
}


@media screen and (max-width: 600px) {
  .middle{
    flex-direction: column;
    justify-content: center;
    height:120vh;
  }
  .middle div{
  margin-bottom: 40px;
  z-index: 4;
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
}
  .titleBox{
    margin-left: 20px;
  }
  .bottomText{
    margin-left: 20px;
  }
  
}

@media screen and (max-width: 800px) {
  .first, .second, .third, .fourth{
    top:350px;
  }
  .first{
    left: 0px;
  }
  .second{
    left: 100px;
  }
  .third{
    left:200px;
  }
  .fourth{
    left:300px;
  }

}

