@value main-bg-color: #5166D8;
@value secondary-bg-color: #5A7FFF;


.top{
  background-color: main-bg-color;
  height:100vh;
  margin-bottom:-275px;
  display: flex;
  align-items: center;
  clip-path: polygon(0 0, 205% 0%, 110% 75.2%, 0% 100%);
  z-index: 3;
}


.hero{
  position: absolute;
  height:100%;
  top:0;
  right:0;
  z-index: 1

}

.middle{
  z-index: 10;
  height: 100vh;
  margin-bottom: -200px;
  background-color: secondary-bg-color;
  /* border: black solid 2px; */
}

.bottom{
  height: 150vh;
  display: flex;
  flex-direction: column;
  background: url(/Vector.svg);
  background-repeat: none;
  background-size: cover;
  /* border: black solid 2px; */
}

.bottomText{
  height:500px;
  display: flex;
}

.bottom p{
  margin-left: -290px;
}

.footer{
  position: relative;
  bottom: 0;
}