@value main-bg-color: #5166D8;
@value secondary-bg-color: #5A7FFF;
@value button-color: #AFD9FF;

.main{
  height:100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: url(/resultsBackground.svg) no-repeat;
  background-size: cover;

}